<li title="Clientes" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope" style="padding: 8px;"></span> <b class="caret"></b></a>
  <ul class="dropdown-menu" style="width: 400px;
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;">
    <h4 style="margin-left: 20px;">
        <span class="glyphicon glyphicon-chevron-left" style="cursor: pointer;" ng-show="Notifications.see_all === 1" ng-click="Notifications.update()"></span> Notificaciones</h4>
    <div ng-repeat="notifi in Notifications.notifications">
        <li role="presentation" class="divider" style="margin: 0px 0;"></li>
        <li role="presentation" ng-class="{true:'ntf_readed', false:''}[notifi.readed==true]">
        <a href ng-click="Notifications.readed(notifi.id)">
        <div class="row">
            <div class="col-md-2">
            <span class="glyphicon glyphicon-envelope" style="font-size: 40px;"></span>
            </div>
            <div class="col-md-9" style="padding-left: 0px;">
                <div class="row">
                <div class="col-md-8">{{notifi.title}}</div>
                <div class="col-md-4">{{notifi.date}}</div>
                </div>
                <div class="row">
                <div class="col-md-12">{{notifi.body}}</div>
                </div>
            </div>
        </div>
        </a></li>
    </div> 
    <li id="ntf_ver_todas"role="presentation" class="text-center" style="
        background-color: #eee;
        margin-bottom: -5px; cursor: pointer;font-weight: bold;
    " ng-click="Notifications.ver_todos()"> Ver Todas...</li>
  </ul>
</li>